.page{
	margin: 50px;
}

.title{
	color: white;
	font-family: arial;
	background-color: #33BEBE;
	padding-top: 25px;
	padding-left: 10px;
	font-weight: 100;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.app {
    display: -webkit-flex;
    display: flex;
}
.image{
	margin-right: 10px;
	box-sizing: border-box;
	border-radius: 30px;
}
.description {
	box-sizing: border-box;
	font-family: arial;
	margin-left: 10px;
	color: #7C8B88;
	text-align:center;
	padding-top: 20px;
}

/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
